<header>
  <div class="v-header__row v-header__row--with-grid">
    <div class="v-header__grid-column">
      <img src="logo.svg" alt="süsteemi logo">
    </div>
    <div class="v-header__grid-column v-header__grid-column--end">
      <button type="button" class="v-button v-button--primary v-button--md v-hide-lg-down">Login sisse</button>
      <button class="v-header__button v-hide-lg-up"><span class="material-icons-outlined" aria-hidden="true">person</span>Login sisse</button>
      <button class="v-header__button v-hide-lg-up"><span class="material-icons-outlined" aria-hidden="true">menu</span>Menüü</button>
    </div>
  </div>
</header>
