<div class="table-header">
  <h2>Replitseerimise logid</h2>
  <button class="v-button v-button--neutral v-button--md" (click)="refreshTable()"><span aria-hidden="true" class="material-icons">refresh</span>Värskenda</button>
</div>
<app-table [dataProvider]="logDataProvider" [expandedTemplate]="recordDetails">
  <app-table-text-column field="caption" header="Destination" />
  <app-table-date-column field="sentDate" header="Confirmed at:" />
  <app-table-text-column field="referenceId" header="Id:" />

  <ng-template #recordDetails let-element>
    <!-- Content for the expanded row goes here -->
    <div class="expanded-details">
      <p>Additional Info: {{ element['content'] }}</p>
    </div>
  </ng-template>
</app-table>
